.post-container {
  width: 100%;
  margin: 0 auto;
}

.post-title-name {
  margin: 1.2em 0 0 0;
  padding: 0;
  font-size: 40px;
}

.post-category {
  color: #a4abb3;
  font-size: 16px;
}

@media screen and (min-width: 1440px) {
  .post-container {
    max-width: 1024px;
  }
}
