@import '../../styles/variables.scss';

.thumbnail {
  display: block;
  border-radius: 4px;
  padding: 0 1em;
  transition: all ease 0.15s;

  h3 {
    font-weight: 700;
    font-size: 22px;
  }

  &:not(:first-child) {
    margin-top: 1.4em;
  }

  &:hover {
    background: #e0e0e0;
  }
}

.thumbnail.visible {
  opacity: 1;
}
