body.dark {
  background-color: #171a1f;
  color: $dark-light-font-color;

  // home
  .home-header {
    color: $dark-light-font-color;
  }

  .bio {
    .author-name-content {
      background-color: $dark-category-border-color;
    }
    .author-introduction {
      color: $dark-middle-font-color;
    }
    a {
      color: $dark-link-color;
    }
  }

  .categories {
    border: 1px solid #3b4249;
  }

  .category-container {
    .item {
      border: 1px solid $dark-category-border-color;
      background-color: $dark-category-item-color;
      -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);
      box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);
      a {
        color: $dark-category-text-color;
      }
      &[aria-selected='true'] {
        border: 2px solid #05b166;
        font-weight: bolder;
      }
      &[aria-selected='true'] a {
        color: $dark-category-highlight-text-color;
      }
    }
  }

  .thumbnail {
    border: 1px solid #3b4249;
    h3 {
      color: $dark-light-font-color;
    }
    p {
      color: $dark-middle-font-color;
    }
    &:hover {
      background-color: #383e47;
    }
  }

  .footer {
    border-top: 1px solid #3b4249;
    color: #f5f5f5;
  }

  .github {
    color: #afb5bb;
  }

  .github:hover {
    color: #d9dcdf;
  }

  .navigator {
    a {
      background-color: #30363d;
      color: #e6ecf3;

      &:hover {
        background-color: #616b77;
      }
    }
  }

  td {
    border-bottom: 1px solid #eee;
  }

  blockquote {
    color: #b6bac1;
    background-color: #262a33;
  }

  figcaption {
    color: #c4c8d2;
  }

  th,
  td {
    border: 1px solid #3a424a;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:hover .anchor svg {
      fill: #dedede;
    }
  }
}
