@import '../../styles/variables.scss';

.categories {
  position: sticky;
  top: 76px;
  width: 24%;
  height: fit-content;
  border-radius: 4px;
  margin-left: 2em;
  padding-top: 14px;
  font-size: 14px;

  ul {
    overflow-y: auto;
    max-height: 80vh;
    padding: 0 8px 14px;
  }

  @media screen and (max-width: 1124px) {
    width: 40%;
  }

  @media screen and (max-width: 768px) {
    position: static;
    width: 100%;
    top: 0;
    margin: 0 0 2em 0;
    font-size: 12px;
  }
}

.categories-header {
  text-align: center;
  font-weight: 800;
  font-size: 16px;
  margin: 0.3em 0;
}

.category-container {
  line-height: 0;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  .item {
    display: inline-block;
    margin: 8px 0;
    border-radius: 8px;
    white-space: normal;
    box-sizing: border-box;
    cursor: pointer;
    line-height: 1;

    div {
      display: block;
      padding: 10px 8px;
      box-sizing: border-box;
      text-align: center;
    }

    @media screen and (max-width: 768px) {
      margin: 12px 0;
    }
  }

  .item:last-child {
    margin-right: 0;
  }
}
