@import '../../styles/variables.scss';

.navigator {
  margin: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 12px;
  }

  a {
    padding: 0.6em 0.8em;
    border-radius: 4px;
    font-size: 14px;
    opacity: 0.9;
    transition: all ease 0.13s;
  }
}
