@import '../styles/variables.scss';
@import '../styles/light-theme.scss';
@import '../styles/dark-theme.scss';

@font-face {
  font-family: 'NanumSquareRound';
  font-weight: 400;
  font-style: normal;
  src: url('../../assets/fonts/NanumSquareRoundR.ttf');
}

@font-face {
  font-family: 'NanumSquareRound';
  font-weight: 600;
  font-style: normal;
  src: url('../../assets/fonts/NanumSquareRoundB.ttf');
}

@font-face {
  font-family: 'NanumSquareRound';
  font-weight: 800;
  font-style: normal;
  src: url('../../assets/fonts/NanumSquareRoundEB.ttf');
}

*,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'NanumSquareRound', sans-serif;
}

h1 {
  font-size: 34px;
  margin: 42px 0 24px;
  font-weight: 800;
}

h2 {
  font-size: 30px;
  margin: 38px 0 24px;
  font-weight: 800;
}

h3 {
  font-size: 26px;
  margin: 32px 0 20px;
  font-weight: 800;
}

h4 {
  font-size: 22px;
  margin: 26px 0 14px;
  font-weight: 800;
}

p {
  margin-bottom: 1.63em;
  line-height: 1.8;
}

body {
  font-size: 16px;
  background-color: $light-background-color;
  -webkit-text-size-adjust: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s, color 0.3s;
}

strong {
  font-weight: 800;
}

.main {
  max-width: 85vw;
  margin: 1em auto;
  display: flex;

  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
  }
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

figcaption {
  text-align: center;
  font-size: 14px;
  margin-top: 0.3em;
  color: #6c7077;
}

li {
  margin-bottom: 7px;
}

th,
td {
  padding: 5px 8px !important;
}

a:hover {
  color: #26bbaf;
}

.katex {
  font-size: 1.1em !important;
}
